/* Global */
:root {
  font-family: Roboto, "Times New Roman";
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

a {
  background: none;
  border: none;
}

a:hover {
  cursor: pointer;
}

.section {
  display: flex;
  padding: 1rem;
  margin: 0;
}

/* Shared Properties */
.section > h1 {
  font-weight: 300;
}

a > img {
  width: 32px;
}

.social-media {
  padding-bottom: 5rem;
}

.social-media > a > img {
  width: 48px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

/* About Me Section */

.diagonal {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: skew(-60deg);
  transform-origin: top left;
  background-color: #fb923c;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.main-image {
  position: relative;
  display: inline-block;
  height: auto;
}

.main-image > img {
  display: block;
  width: 100%;
  height: auto;
}

.main-image > img {
  box-shadow: 0 0 16px 4px #000000;
}

.main-image > h1 {
  max-width: 8ch;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.text-area {
  flex-direction: column;
}

.text-area > h1 {
  margin-top: 0;
  text-align: center;
}

.text-area > p {
  color: #565656;
  padding: 0 1rem;
}

/* My Work Section */

.my-work {
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
}

.linked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.project.links {
  display: flex;
  gap: 10px;
}

.work-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.178);
}

.work-entry > img {
  width: 100%;
  height: auto;
}

.work-entry > p {
  margin: 16px;
  color: #565656;
}

/* Footer Section*/
footer {
  display: flex;
  background-color: #fb923c;
  padding: 0;
  margin: 0;
}

footer > img {
  width: 100vw;
  height: auto;
}

.contact-details {
  flex-direction: column;
  padding: 16px;
  margin: 0;
}

.contact-details > * {
  color: white;
  font-size: 24px;
}

.contact-details > h1 {
  text-align: center;
}

.contact-details > h2 {
  font-weight: 700;
}

.info {
  font-weight: 500;
}

@media (max-width: 768px) {
  /* Shared Properties */
  .section > h1,
  .contact-details > h1 {
    font-size: 3rem;
  }
  /* About Me Section */

  .main-image > img {
    margin: 1rem;
    width: 280px;
  }

  .main-image > h1 {
    position: absolute;
    font-size: 64px;
    bottom: -24px;
    left: 24px;
  }

  .linked-header > h2 {
    font-size: 1.5rem;
  }

  .text-area > h1 {
    font-size: 3rem;
  }

  .text-area > p {
    font-size: 24px;
  }

  /* My Work Section */

  .my-work {
    flex-direction: column;
  }

  .work-entry {
    width: 300px;
    height: 360px;
  }

  /* Footer Section */
  footer {
    flex-direction: column;
  }

  footer > img {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .info {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
}
