/* Global */
:root {
  font-family: Roboto, "Times New Roman";
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

a {
  background: none;
  border: none;
}

a:hover {
  cursor: pointer;
}

.section {
  display: flex;
  padding: 1rem 2rem;
  margin: 0;
}

/* Shared Properties */
.section > h2 {
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}

a > img {
  width: 32px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

/* About Me Section */

.diagonal {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: skew(-60deg);
  transform-origin: top left;
  background-color: #fb923c;
}

.about-me {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-photo {
  position: relative;
  display: flex;
}

.about-photo > picture > img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 0 16px 4px #000000;
}

.about-photo > h1 {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-text > p {
  color: #565656;
  padding: 0 1rem;
}

.social-media {
  padding-bottom: 5rem;
}

.social-media > a > img {
  width: 48px;
}

/* My Work Section */
.my-work {
  flex-direction: column;
}

.work-grid {
  display: grid;
  align-items: center;
  gap: 3rem;
  padding: 0;
  padding-bottom: 4rem;
}

.linked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.project.links {
  display: flex;
  gap: 10px;
}

.work-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.178);
}

.work-entry > img {
  width: 100%;
  height: auto;
}

.work-entry > p {
  margin: 16px;
  color: #565656;
}

/* Footer Section */
footer {
  display: flex;
  background-color: #fb923c;
  padding: 0;
  margin: 0;
}

footer > picture > img {
  width: 100vw;
  height: auto;
}

.contact-details {
  flex-direction: column;
  padding: 0 2rem;
  margin: 0;
}

.contact-details > * {
  color: white;
  font-size: 24px;
}

.contact-details > h2 {
  text-align: center;
}

.contact-details > h3 {
  font-weight: 700;
}

.info {
  font-weight: 500;
}

@media (min-width: 1025px) {
  .section > h2 {
    font-size: 2.5rem;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 0 24px;
    max-width: 1200px;
  }

  .about-photo {
    display: block;
    position: relative;
    top: 87px;
  }

  .about-photo > picture > img {
    width: 500px;
  }

  .about-photo > h1 {
    position: relative;
    font-size: 68px;
    bottom: 125px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -24px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.178);
  }

  .about-text > h2 {
    align-self: flex-start;
  }

  .about-text > p {
    font-size: 1.1rem;
  }

  .about-text > .social-media {
    align-self: flex-end;
    gap: 0px;
    padding-bottom: 1rem;
  }

  a > img {
    height: 32px;
  }

  .work-grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    align-items: stretch;
  }

  .work-entry {
    height: auto;
  }

  footer {
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
  }

  footer > picture > img {
    padding-right: 2rem;
    width: 350px;
  }

  .contact-details {
    width: 500px;
  }

  .contact-details > .social-media {
    align-self: flex-start;
    padding-top: 1rem;
  }

  .info {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section > h2 {
    font-size: 2.5rem;
  }

  .social-media {
    padding-top: 1rem;
  }

  .about-me {
    display: block;
    padding: 1rem 2rem;
    padding-top: 10rem;
  }

  .about-photo {
    display: block;
    float: left;
    white-space: nowrap;
    position: relative;
    margin: -40px;
    padding-right: 70px;
    top: -50px;
    left: 10px;
  }

  .about-photo > picture > img {
    width: 400px;
  }

  .about-photo > h1 {
    font-size: 4rem;
    position: absolute;
    top: -35px;
    left: 300px;
  }

  .about-text {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.178);
    width: 80vw;
  }

  .about-text > h2 {
    font-size: 2.5rem;
  }

  .about-text > p {
    font-size: 1.5rem;
  }

  .about-text > .social-media {
    display: none;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-entry {
    width: 300px;
    height: 350px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  footer > picture > img {
    padding-right: 2rem;
    padding-top: 1rem;
    width: 350px;
  }

  .info {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .section > h2 {
    font-size: 3rem;
  }

  .about-photo > picture > img {
    display: block;
    position: static;
    margin: 1rem;
    width: 280px;
  }

  .about-photo > h1 {
    position: absolute;
    font-size: 64px;
    bottom: -24px;
    left: 24px;
  }

  .about-me {
    background: none;
    box-shadow: none;
  }

  .about-text > h2 {
    font-size: 3rem;
  }

  .about-text > p {
    font-size: 24px;
  }

  .social-media {
    display: flex;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .linked-header > h3 {
    font-size: 1.5rem;
  }

  footer {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  footer > picture > img {
    position: absolute;
  }

  .info {
    font-size: 16px;
  }
}
